/* Banner */

#banner {
    background-image: url( {{ (.Site.Data.homepage.banner.image | default "images/banner.jpg") }} );
    background-position: center center;
    background-size: cover;
    height: 28em;
    text-align: center;
    position: relative;

    header {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #212121;
        background: rgba(27,27,27,0.75);
        color: #fff;
        padding: 1.5em 0;

        h2 {
            display: inline-block;
            margin: 0;
            font-size: 1.25em;
            vertical-align: middle;

            em {
                opacity: 0.75;
            }

            a {
                border-bottom-color: transparentize(#fff, 0.5);

                &:hover {
                    border-bottom-color: transparent;
                }
            }
        }

        .button {
            vertical-align: middle;
            margin-left: 1em;
        }
    }
}
